body {
   
    margin: 0;
}

/* footer styles */

footer {
   
    background-color: orange;
    margin-bottom: -8px;
    
}

h4{
    
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 8px;
}

/* home page styles */

h2 {
    display: flex;
    justify-content: center;
}

.column-container{
    display: flex;
    justify-content: space-around;
}

.left-column {
    border: 1px solid green;
}
.right-column {
    border: 1px solid red;
}

.carousel-container {
    border: 1px solid pink;
    display: flex;
    justify-content: center;
}